.about{
    background-image: url(../../assets/bg-image.jpg);
    background-size: cover;
    height: 80vh;
    max-width: 100%;
}

.text{
    margin: -280px 0px 0px 0px;
    font-size: 140px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.fewword{
    margin: 140px 0px 0px 0px; 
    font-size: 45px;
    /* text-align: center; */
}

.image{
    margin: 170px 0px 150px 40px;
    border-radius: 25px;

}

.para{
    font-size: 18px;
}